* {
  margin: 0;
}
html, body {
  height: 100%;
  font-family: "Source Sans Pro", "Source Sans Pro", "Source Sans Pro", sans-serif; 
  line-height: 1.5;
  font-size: 15px;
  font-weight: 300;
  color: "#828282";
  overflow: auto;
}

a {
  text-decoration: none;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -10px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 14px; 
}
.site-footer {
  background: white;
  word-spacing: 5px;
  position: fixed;
  bottom: 0px;
}
