@media all{
	html {
		width: 100%;
		height: 100%;
	}

	body {
		font-family: "Source Sans Pro","Source Sans Pro","Source Sans Pro",sans-serif;
		font-size: 18px;
		line-height: 1.25;
		font-weight: 300;
		color: #000;
		background-color: #ffffff;
		-webkit-text-size-adjust: 100%;
		width: 100%;
		height: 100%;
		overflow:hidden;
		
	}

	.centered {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		padding: 0px 0px 0px 0px;
		word-spacing: 20px; 
		background-color: #ffffff;
	}
	
	.img_top {
		position: fixed;
		top:84%;
		left:16%;
		z-index:999;"
	}
	
	a {
		color: #000;
		text-decoration: none;
	}

	a:visited {
		color: #000;
	}

	a:hover {
		color: #000;
		text-decoration: underline;
	}
	
	hr {
    		display: block;
    		/*margin-top: 0.5em;
    		margin-bottom: 0.5em;
    		margin-left: auto;
    		margin-right: auto;*/
    		border-style: inset;
    		border-width: 0px;
    		height:1px;
    		border-width:0;
    		color:#828282;
    		background-color:#828282;
	}
	
	figure figcaption {
		text-align: center;
		font-size: 13.5px;
    		color: #000;
    		line-height: 1;
	}
	
	table {
		border-spacing:0px;
	}
}
