html {
    margin: 10px;
}

body {
    background: #ccc;
}

.box {
   height: 400px;
    background: #FFF;
    margin: 20px auto;
}

.box1 {
    height: 180px;
    background: #FFF;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.box p {
    text-align: center;
    position: relative;
    top: 120px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.box1 p {
    text-align: center;
    position: relative;
    top: 80px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.effect {
    box-shadow: 0px 10px 6px -6px #777;
}